<!DOCTYPE html>
<html>
	<head>
		<%- include('../partials/head'); %>
		<title><%- title %> -Login</title>
		<link rel="stylesheet" href="assets/css/login.css">
		<script src="assets/js/login.js" ></script>
		
	</head>
	<body>
    <div class="container">
        <div class="header-wrapper mt30">
            <div class="row text-center mb-2">
                <div class="col">
					<h1>Welcome</h1>
					<div class="login-form">
						<p>Please login to the system</p>
						<form  onsubmit="return _submit(event)" action="/api/auth" method="POST">
							<input type="text" id="username" name="username" placeholder="Username" required>
							<input type="password" id="password" name="password" placeholder="Password" required>
							<input type="submit">
						</form>
					</div>
                </div>
            </div>
        </div>
		<p class="alert" id="alertBox"></p>
    </div>
		
	</body>
</html>